:root{
    --primary-color: #FF7833;
    --secondary-color: #31333B;
    --third-color: #444856;
    --fourth-color: #7b7b7b;
    --background-color: #ccc;
    --text-color: #e7e7e7;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    line-height: 1.7;
}

h1{
    font-size: 4rem;
    color: var(--fourth-color);
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h2, h3, h4, h5, h6{
    color: var(--primary-color);
    margin: 0;
}

article{
    padding-top: 4rem;
}

.header, .main{
    font-size: 1.6rem;
}

.header{
    background-color: var(--secondary-color);
    flex: 0 0 26rem;

}

.main{
    background-color: var(--third-color);
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
}

a{
    color: inherit;
}

.profile-image{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
}

.nav{
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
}

.nav ul{
    padding: 0;
    list-style-type: none;
}

.nav ul a{
    display: block;
    text-decoration: none;
    padding: 1.2rem 0;
    background-color: transparent;
    transition: padding-right .2s, background-color .4s;
}

.nav ul a:hover, .nav ul a:focus{
    background-color: var(--third-color);
    padding-right: 1rem;
}

.nav li{
    border-bottom: 1px solid var(--fourth-color);
    padding: .4rem 0rem;
}

.article-highlight{
    border-left: 2px solid var(--primary-color);
    padding-left: 2rem;
    padding-top: 0;
    margin-bottom: 5rem;
}