.section-list{
    margin-bottom: 2rem;
}

.row{
    display: flex;
    gap: 1.5rem;
    padding: 2rem 0;
    justify-content: space-between;
}

.row > *{
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%; */
    flex: 1 0 0%;
}

.estilizada{
    list-style-type: none;
    padding-left: 0;
}

.estilizada li{
    padding: 0;
}

.estilizada li:not(:last-child){
    border-bottom: 2px solid var(--text-color);
}

.mista{
    list-style-type: upper-roman;
}

.emoji{
    list-style-type: "\1F600";
}